window
{
title = Lua Example
width = 1280
height = 720
fullscreen = false
}

scripts
{
initialize = TestScripts/game.lua#initialize
update = TestScripts/game.lua#update
render = TestScripts/game.lua#render
finalize = TestScripts/game.lua#finalize
keyEvent = TestScripts/game.lua#keyEvent
mouseEvent = TestScripts/game.lua#mouseEvent
}