window
{
title = Lua Example
width = 1280
height = 720
fullscreen = false
}

scripts
{
initialize = VxlEditor/Main.lua#initialize
update = VxlEditor/Main.lua#update
render = VxlEditor/Main.lua#render
finalize = VxlEditor/Main.lua#finalize
keyEvent = VxlEditor/Main.lua#keyEvent
mouseEvent = VxlEditor/Main.lua#mouseEvent
}